@page "/businessMailStarWars"

@using BlazorChatGPT.Services;
@inject IOpenAiService openAiService;

<h3>Business Mail</h3>

<div>API service:</div>
<InputSelect @bind-Value="apiService">
    <option value="">Select your AI service</option>
    <option value="openai">OpenAI</option>
    <option value="azureopenai">Azure OpenAI</option>
</InputSelect>

<div>Type the name of a Star Wars character:</div>
<div><textarea rows="5" cols="100" @bind="@inputText" /></div>

<button @onclick="() => GenerateBusinessMailStarWarsAsync()">
    Send
</button>

@if (isLoading)
{
    <p>
        <strong>Waiting for a response...</strong>
    </p>
}

<p class="markup">@((MarkupString)outputText)</p>

@code {

    private string inputText;
    private string outputText;
    private string apiService;
    private bool isLoading;

    public async Task GenerateBusinessMailStarWarsAsync()
    {
        if (apiService == "openai")
        {
            openAiService.UseOpenAI();
        }
        else
        {
            openAiService.UseAzureOpenAI();
        }
        
        outputText = string.Empty;
        isLoading = true;
        outputText = await openAiService.GenerateStarWarsMail(inputText);
        isLoading = false;
    }
}