@page "/session"

@using BlazorChatGPT.Services;
@inject IOpenAiService openAiService;

<h3>Session</h3>

<div>Choose your API service:</div>
<select name="apiService" id="apiService" @bind="@apiService">
    <option value="openai">OpenAI</option>
    <option value="azureopenai">Azure OpenAI</option>
</select>

<div>Describe the topic of your session:</div>
<div><textarea rows="5" cols="100" @bind="@topic" /></div>

<select name="style" id="cars" @bind="@tone">
    <option value="professional">Professional</option>
    <option value="fun">Fun</option>
</select>

<button @onclick="() => GenerateBusinessMailAsync()">
    Send
</button>

@if (isLoading)
{
    <p>
        <strong>Waiting for a response...</strong>
    </p>
}

<p class="markup">@((MarkupString)output)</p>

@code {

    private string topic;
    private string output;
    private string tone;
    private string apiService;
    private bool isLoading;

    public async Task GenerateBusinessMailAsync()
    {
        if (apiService == "openai")
        {
            openAiService.UseOpenAI();
        }
        else
        {
            openAiService.UseAzureOpenAI();
        }

        isLoading = true;
        output = await openAiService.GenerateSessionAsync(topic, tone);
        isLoading = false;

    }
}